<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, placeholder: "Title of service", class: "form-control" %>
  </div>

  <div class="field form-group">
  <%= form.label :meta_description, id: "meta-word-label" %>
    <%= form.text_area :meta_description, placeholder: "Meta description [ror_town] for placeholder", class: "form-control" , id:"meta-word-text" %>
  </div>

    <div class= "image-preview" id="featured-preview" style='background-image: url(<%="#{mobile_small_image(service.featured_image)}" if service.featured_image.attachment%>)'> 

    <%= form.label :featured_image, "Click to Change Image For Masthead"%> 
    <%= form.file_field :featured_image, class: "d-none"%>
  </div>


    <div class= "image-preview" id="image-preview" style='background-image: url(<%="#{mobile_small_image(service.image)}" if service.image.attachment%>)'>


    <%= form.label :image, "Click to Change Image For Bottom of Page"%>
    <%= form.file_field :image, class: "d-none" %>
  </div>

  <div class="form-group">
    <%= form.label :content_images%>
    <%= form.file_field :content_images, multiple: true, class: "form-control py-5" %>
  </div>

  <div class="field">
    <%= form.label :content, "Content suggested minimum 350 words"%>
    <%= form.text_area :content, class: "tiny" %>
  </div>

  <h3 class='pt-3'>Main Service Content Not For Individual Towns</h3>
  <hr />
  <div class="field form-group">
    <%= form.label :main_meta, id: "meta-main-word-label" %>
    <%= form.text_area :main_meta, placeholder: "Main page meta description", class: "form-control" , id:"meta-main-word-text" %>
  </div>

  <div class="field">
    <%= form.label :main_content, "Content suggested minimum 350 words"%>
    <%= form.text_area :main_content, class: "tiny" %>
  </div>


    <div class="field form-group">
      <%= form.label :business_type_id %>
      <%= form.collection_select(:business_type_id, BusinessType.all, :id, :name, {prompt: true},  {class: "form-control"})%>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary mb-3" %>
    </div>
  </div>
<% end %>

<%service.content_images.attachments.each do |image|%>
  <%=fail%>
  <%if image%>

  <%end%>
<%end%>
<%= javascript_pack_tag 'servicesView' %>
