<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :title, autofocus: true, placeholder: "Title of service", class: "form-control" %>
  </div>


  <div class="field">
    <%= form.text_area :content, id: "tiny" %>
  </div>


    <div class="field form-group">
      <%= form.label :business_type_id %>
      <%= form.collection_select(:business_type_id, BusinessType.all, :id, :name, {prompt: true},  {class: "form-control"})%>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary mb-3" %>
    </div>
  </div>
<% end %>
