<%= javascript_pack_tag 'tinyMce' %>
<%= stylesheet_pack_tag 'tinyMce' %>
<!--Masthead Section-->
<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=header_selector(@service)%>);">
      <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center ">  
        <div class="text-overlay d-flex align-items-center">
          <h1 class="mx-auto mt-2 h2"> <%="#{@service.title.titleize}" %></h1>​
        </div>
      </div>
    </div>
  </header>
<%end%>
<div class="container">
  <h1>Editing Service</h1>

  <%= render 'form', service: @service %>

  <%= link_to 'Show', @service %> |
  <%= link_to 'Back', services_path %>
</div>