<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  </header>
<%end%>
<div class="container">
  <h1>Editing Service</h1>

  <%= render 'form', service: @service %>

  <%= link_to 'Show', @service %> |
  <%= link_to 'Back', services_path %>
</div>