<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  </header>
<%end%>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Services</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Businesstype</th>
        <th>Slug</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.title %></td>
          <td><%= service.business_type.name %></td>
          <td><%= service.slug %></td>
          <td><%= link_to 'Show', service, class: "btn btn-primary btn-sm"  %></td>
          <td><%= link_to 'Edit', edit_service_path(service), class: "btn btn-primary btn-sm"  %></td>
          <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Service', new_service_path, class: "btn btn-primary btn-sm mb-4" %>
</div>
