<!--Masthead Section-->
<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=header_selector(@service)%>);">
      <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center ">  
        <div class="text-overlay d-flex align-items-center">
          <h1 class="mx-auto mt-2 h2"> <%="#{@service.title.titleize}" %></h1>​
        </div>
      </div>
    </div>
  </header>
<%end%>
    <div class="container">
        <p id="notice"><%= notice %></p>

      <h3>Town Meta</h3>
        <p>
          <p><strong>Town Meta Description:</strong></p>
          <%= @service.meta_description %>
        </p>
        <h3>Main Meta</h3>
        <p>
          <p><strong>Main Meta Description:</strong></p>
          <%= @service.main_meta %>
        </p>
        <p>
          <p><strong>Title:</strong></p>
          <%= @service.title %>
        </p>

        <p>
          <p><strong>Image: </strong></p>
          <%= image_tag @service.image, alt: @service.title, class: "service-image" if @service.image%>
          <%= image_tag @service.public_mobile_image_url, alt: @service.title, class: "service-image" if @service.image%>

        </p>

        <h3>Content Images</h3>
        <% @service.content_images.attachments.each do |img| %>
        <%= image_tag img, alt: "#{@service.title} #{img.filename}", class: "service-image" if @service.image%>
      
        <% end%>

        <p>
          <p><strong>Town Content:</strong></p>
          <%= sanitize(@service.content) %>
        </p>

        <p>
          <p><strong>Main Content:</strong></p>
          <%= sanitize(@service.main_content) %>
        </p>

        <p>
          <p><strong>Businesstype:</strong></p>
          <%= @service.business_type.name %>
        </p>

        <p>
          <p><strong>Slug:</strong></p>
          <%= @service.slug %>
        </p>

        <%= link_to 'Edit', edit_service_path(@service), class: "btn btn-primary" %> 
        <%= link_to 'Back', services_path, class: "btn btn-primary" %>
      </div>
