<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @service.content %>
</p>

<p>
  <strong>Businesstype:</strong>
  <%= @service.BusinessType_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @service.slug %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
