<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  
    <div class="container d-flex h-100">

      <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">

        <div class="card-body">
          <h5 class="card-title">Sign In</h5>

          <%= form_with(url: session_path, local: true) do |f| %>
            <div class="form-group">
              <%= f.label :email, for: "email" %>
              <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder: "Enter email"%>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, required: true, class: "form-control" %>
            </div>
              <%= f.submit "Sign In", class: "btn btn-primary"%>
          <% end %>
          
        </div>

      </div>

    </div>
  </header>
<%end%>