<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
<% end %>
</header>
<p id="notice"><%= notice %></p>

<h1>Market Services Active</h1>
<ul>
  <% @service.markets.each do |m|%>
  <li class="my-2">
    <%=m.name%> <%=link_to "Remove service from market",market_service_del_path(@service.id, m.id), method: :delete, class: "btn-sm btn-primary"%>
  </li>
  <%end%>
</ul>

<h1>Inactive Market Services</h1>
<ul>
  <% @service.inactive_markets.each do |i|%>
    <li>
      <%=i.name%> 
    </li>
  <%end%>
</ul>