<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);"></header>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Market:</strong>
  <%= @market_service.market_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @market_service.service_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @market_service.active %>
</p>

<%= link_to 'Edit', edit_market_service_path(@market_service) %> |
<%= link_to 'Back', market_services_path %>
