<%= content_for(:title, "Home On Call") %>
<%= content_for(:meta_description, "Home On Call. Get a call from a pro within 10 minutes or take 10 percent off the quoted price.") %>
<%= content_for(:meta_keywords, "Home On Call, Junk Removal, HVAC, Painting") %>

  <!-- Navigation Render from Application-->
  
  <!-- Header Render from Application-->

  <!-- Septic About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Home On Call</h2>
          <p class="text-white-50">Home On Call will help you find the professional you need to quickly get your project underway and on budget. We make your life better by helping you get the job done so that you can take care of the things that are most important to you.</p>
        </div>
      </div>
    </div>
      <img src="<%=asset_path("home-improvement-contractor-service.jpg")%>" class="img-fluid" alt="Home Improvement Contractor">
  </section>

  <section class="inverted-section">
    <div class="container align-items-center">
        <div class="mx-auto text-center p-4">  
        </div>
    </div>
  </section>

  <!-- Services Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Service Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src=<%=asset_path("air_conditioning_technician.jpg")%> alt="HVAC Technician">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>HVAC</h4>
            <p class="text-black-50 mb-0">Do you want a reliable professional HVAC contractor and plumber? Well, then you are in the right place. Home On Call provides affordable air conditioning, plumbing, and heating services. Services include installations, central AC replacement, or heating repair and much more.
            <a href="#signup" class="btn btn-primary mt-3 js-scroll-trigger">Free Quote</a>
          </div>
        </div>
      </div>

      <!-- Septic Service Row -->
      <div id="septic" class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="/assets/painting_contractor.jpg" alt="Action Septic Tank Cleaning">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Painting</h4>
                <p class="mb-0 text-white-50"> Add visual appeal and value to the exterior and interior of your home or business. If your home or business interior begins to look dull and drab revitalize it with a new coat of paint. You can re-energize it by reinforcing the current color, making it more vibrant. Or, you can totally reimagine your design and go with something new. That is the wonderful power of paint; it is so versatile you can do almost anything with it.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
                        <a href="#signup" class="btn btn-primary mt-3 js-scroll-trigger">Get a Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sewer Line Replacement Service Row -->
      <div id="junk-removal" class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src=<%=asset_path("action-waste-junk-removal-truck.jpg")%> alt="cheap-junk-removal">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Junk Removal</h4>
                <p class="mb-0 text-white-50">We can remove any junk you no longer want really fast. Our courteous and efficient team members are true professionals in removing junk from your home or business.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
                <a href="#signup" class="btn btn-primary mt-3 js-scroll-trigger">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>

  <!-- Form Section -->
  <section id="signup" class="signup-section">
    <%= render "layouts/search_bar"%>
  </section>

  <!-- Contact Section -->

  <%=render "layouts/contact-section"%>

  <!-- Footer -->
