<%= content_for(:canonical, request.url)%>
<%= content_for(:title, "#{@service.title} #{@market.name}") %>
<% if  @service.meta_description%>
  <%= content_for(:meta_description, sanitize(muxer_light(@service.meta_description, @market)))%>
<% else%>
  <%= content_for(:meta_description, "#{@service.title} in #{@market.name}")%>
<% end %>
<%= content_for(:meta_keywords, "#{@service.title}, #{@market.name}") %>
<%= content_for(:robots, "INDEX, FOLLOW") %>
<!--Masthead Section-->
<%= content_for :my_mast do %>
  <header class="masthead all-masts" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);"
      data-mobile-url=<%=header_selector(@service, "mobile")%>
      data-desktop-url=<%=header_selector(@service, "desktop")%>
  >

      <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center ">  
        <div class="text-overlay d-flex align-items-center">
          <h1 class="mx-auto mt-2 h2"> <%="#{@market.name}, #{@service.title.titleize}"%></h1>​
        </div>
        <a href="#lead-picker" class="btn btn-primary js-scroll-trigger mt-5">Get A Quote Now</a>
      </div>
    </div>
  </header>
<%end%>


<div class="container">
  <h1><%="#{@service.title} in #{@market.name}"%></h1>
</div>
  <%= render "layouts/lead_picker", lead: @lead, client: @client, service: @service%>
<div class="container">
  <h2>Cities available</h2>

  <ul>
    <%@market.towns.all.each do |town|%>
    <li><%=link_to town.name, public_town_path(town)%></li>
    <%end%>
  </ul>
</div>