<%= content_for(:canonical, request.url)%>
<%= content_for(:title, "Home On Call | #{@market.name}") %>
<%= content_for(:meta_description, "Home On Call  | #{@market.name}") %>
<%= content_for(:robots, "INDEX, FOLLOW") %>
<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  </header>
<%end%>

<h1><%=@market.name%></h1>


<h2>All cities in <%=@market.name%></h2>

<ul class="ulcolumns">
  <%@market.towns.all.each do |town|%>
  <li><%=link_to town.name, public_town_path(town)%></li>
  <%end%>
</ul>