<%= content_for(:canonical, request.url)%>
<%= content_for(:title, "#{@service.title}") %>
<%= content_for(:meta_description, "#{@service.title}") %>
<%= content_for(:meta_keywords, "#{@service.title}") %>
<%= content_for(:robots, "INDEX, FOLLOW") %>

<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  </header>
<%end%>

<div class="container">
  <h1><%=@service.title%></h1>

  <h2>Markets Where <strong><%=@service.title%></strong> is available</h2>

  <ul>
    <%=list_of_market_services(@markets, @service)%>
  </ul>
</div>