<%= content_for(:canonical, request.url)%>
<%= content_for(:title, "#{@service.title}") %>
<%= content_for(:meta_description, "#{@service.main_meta} ") %>
<%= content_for(:robots, "INDEX, FOLLOW") %>
<%= content_for(:og_title, "#{@service.title}")%>
<%= content_for(:og_description, "#{@service.main_meta}")%>
<%= content_for(:og_image, "#{desktop_small_image(@service.image)}")%>

<!--Masthead Section-->
<%= content_for :my_mast do %>
  <header class="masthead all-masts" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);"
      data-mobile-url=<%=header_selector(@service, "mobile")%>
      data-desktop-url=<%=header_selector(@service, "desktop")%>
  >

      <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center ">  
        <div class="text-overlay d-flex align-items-center">
          <h1 class="mx-auto mt-2 h2"> <%="#{@service.title.titleize}"%></h1>​
        </div>

      </div>
    </div>
  </header>
<%end%>

<main class="container">
  <article>
    <%=@service.main_content.html_safe%>
    

    <section class="container my-3 text-center">
      <img  src="" class="img-fluid placeholder1" 
            alt=<%="#{@service.title}"%> loading="lazy"
            data-mobile-url=<%=mobile_small_image(@service.image)%>
            data-desktop-url=<%=desktop_small_image(@service.image)%>
      />
    </section>
  </article>
  <h2>Markets Where <strong><%=@service.title%></strong> is available</h2>
  <ul>
    <%=list_of_market_services(@markets, @service)%>
  </ul>
</main>