<%= content_for(:canonical, request.url)%>
<%= content_for(:title, "#{@service.title} #{@town.name}, #{@town.state.upcase}") %>
<% if  @service.meta_description%>
  <%= content_for(:meta_description, sanitize(muxer_light(@service.meta_description, @town)))%>
<% else%>
  <%= content_for(:meta_description, "#{@service.title} in #{@town.name}")%>
<% end %>
<%= content_for(:robots, "INDEX, FOLLOW") %>
<%= content_for(:og_title, "#{@service.title} #{@town.name}, #{@town.state.upcase}")%>
<%= content_for(:og_description, "#{sanitize(muxer_light(@service.meta_description, @town))}")%>
<%= content_for(:og_image, "#{polymorphic_url @service.image}")%>
<%= content_for(:locality_town, "#{@town.name}")%>
<%= content_for(:locality_state, "#{@town.state}")%>
<!--Main Content Section-->
<main >
<!--Masthead Section-->
<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=header_selector(@service)%>);">
      <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center ">  
        <div class="text-overlay d-flex align-items-center">
          <h1 class="mx-auto mt-2 h2"> <%="#{@town.name.titleize}, #{@town.state.upcase} #{@service.title.titleize}"%></h1>​
        </div>
        <a href="#lead-picker" class="btn btn-primary js-scroll-trigger mt-5">Get A Quote Now</a>
      </div>
    </div>
  </header>
<%end%>


  <article class="container my-3 scroll-stop">
    <%=sanitize(muxer(@service, @town))%>
  </article>


<!--Lead Form-->
<%= render "layouts/lead_picker", lead: @lead, client: @client, service: @service%>

<!-- Bottom image Section-->
<section class="container my-3 text-center">
  <%= image_tag @service.image, alt: "#{@service.title} in #{@town.name}, #{@town.state.upcase}", class: "img-fluid"%>
  <a href="#lead-picker" class="btn btn-primary btn-lg my-3 js-scroll-trigger d-block">Get Started For Free</a>
</section>

<!-- FAQ Section -->
<%= render 'faq', business_type: @service.business_type %>

<!-- Other services section-->
<aside class="row container">
  <section class="container my-3 scroll-stop col-7" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <h2 class="py-2">Other <%=@service.business_type.name%> Services in <span itemprop="addressLocality"><%= @town.name.titleize%></span>, <span itemprop="addressRegion"><%=@town.state.upcase%></span></h2>
    <ul>
      <%@service.business_type.services.each do |service|%>
        <li><%=link_to service.title, public_service_path(service)%></li>
      <%end%>
    </ul>
  </section>
  <section class="container col-5">
    <h4>Businesses Outside of our Network</h4>
    <%@businesses.each do |b|%>
      <div itemscope itemtype="http://schema.org/LocalBusiness">
        <hr>
        <p class="small"><span itemprop="name"><%=b["name"]%></span></p> 
        <p class="small"><span itemprop="address"><%=b["formatted_address"]%></p> 
        <%if b['formatted_phone_number']%>
          <p class='small'><span itemprop='telephone'> 
          <%=b['formatted_phone_number']%></span></p>
        <%end%>
      </div>
      <%end%>
    </section>
  </section>
</aside>

    <!--Google Maps Dog-->
    <div id="map"></div>
    <div class="text-center p-0">
    <a href="#lead-picker" class="btn btn-primary btn-lg my-3 js-scroll-trigger">Get A Quote</a>
    </div>
<%if @spot%>
  <script>
    var map;
    function initMap() {
      var title = "<%=@service.title%>"
      var town = "<%=@town.name.titleize%>"
      var state = "<%=@town.state.upcase%>"
      var location = {lat: <%=@spot["geometry"]["location"]["lat"]%>, lng: <%=@spot["geometry"]["location"]["lng"]%>}
      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12
      });
      var marker = new google.maps.Marker({position: location, map: map, title: `${title} in ${town}, ${state}`});

      var infowindow = new google.maps.InfoWindow({
        content: `${title} in ${town}, ${state}`
      });
      infowindow.open(map, marker);
      <%@businesses.each_with_index do |b, i|%>
          var newMarker<%=i%> = new google.maps.Marker({position: {lat:<%=b["geometry"]["location"]["lat"]%>, lng:<%=b["geometry"]["location"]["lng"]%> }, map: map, title: "<%=b["name"]%>"})
          var infowindow<%=i%> = new google.maps.InfoWindow({
            content: `<%=b["name"]%> in ${town}, ${state}`
          });
          newMarker<%=i%>.addListener('click', function(){
            infowindow<%=i%>.open(map, newMarker<%=i%>);
          })
      <%end%>
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API']%>&callback=initMap"
  async defer ></script>
    <!--END Google Maps Dog-->  
<%end%>

<!--Local Image-->
<%if @page.town_image.attached?%>
  <div class="container text-center my-5">
  <h5>Picture of <%=@town.name.capitalize%>, <%=@town.state.upcase%></h5>
    <%= image_tag @page.town_image, alt: "#{@service.title} #{@town.name}"%>
  </div>
<%end%>
</main>