<%= content_for(:title, "#{@service.title} #{@town.name}, #{@town.state.upcase}") %>
<% if  @service.meta_description%>
  <%= content_for(:meta_description, sanitize(muxer(@service.meta_description, @market.name)))%>
<% else%>
  <%= content_for(:meta_description, "#{@service.title} in #{@market.name}")%>
<% end %>
<%= content_for(:meta_keywords, "#{@service.title}, #{@town.name}, #{@town.state.upcase}") %>

<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=header_selector(@service)%>);">
  </header>
<%end%>

<div class="container my-3 scroll-stop">
  <h1><%="#{@town.name.titleize} #{@town.state.upcase} #{@service.title.titleize}"%></h1>
  <%=sanitize(muxer(@service.content, @town))%>
</div>

<%= render "layouts/lead_picker", lead: @lead, client: @client, service: @service%>

<div class="container my-3 text-center">
  <%= image_tag @service.image, alt: "#{@service.title} in #{@town.name}, #{@town.state.upcase}" %>
  <a href="#lead-picker" class="btn btn-primary btn-lg my-3 js-scroll-trigger">Get Started For Free</a>
</div>

<div class="container my-3 scroll-stop">
  <h2 class="py-2">Other <%=@service.business_type.name%> Services in <%="#{@town.name.titleize}, #{@town.state.upcase}"%></h2>
  <ul>
    <%@service.business_type.services.each do |service|%>
      <li><%=link_to service.title, public_service_path(service)%></li>
    <%end%>
  </ul>
</div>
