<%= content_for(:title, "#{@service.title} #{@town.name}, #{@town.state.upcase}") %>
<%= content_for(:meta_description, "#{@service.title} in #{@town.name}, #{@town.state.upcase}") %>
<%= content_for(:meta_keywords, "#{@service.title}, #{@town.name}, #{@town.state.upcase}") %>

<h2>THIS IS THE PUBLIC BULK SERVICE SHOW PAGE</h2>
<h1><%="#{@town.name.capitalize} #{@town.state.upcase} #{@service.title}"%></h1>
<%= image_tag @service.image, alt: "#{@service.title} in #{@town.name}, #{@town.state.upcase}" %>
<%=sanitize(muxer(@service.content, @town))%>

<%# TODO: Breat out all these renders into their own partial %>
<%= render "layouts/lead_picker", lead: @lead, client: @client, service: @service%>

<%= render "layouts/painting_lead_form", lead: @lead, client: @client if @service.business_type.name.downcase == "painting"%>
<%= render "layouts/junk_removal_lead_form", lead: @lead, client: @client if @service.business_type.name.downcase == "junk removal"%>
<%= render "layouts/hvac_lead_form", lead: @lead, client: @client if @service.business_type.name.downcase == "hvac"%>
<h2>Other Services in <%=@town.name%></h2>
<ul>
  <%@service.business_type.services.each do |service|%>
    <li><%=link_to service.title, public_service_path(@town.market, service)%></li>
  <%end%>
</ul>