
<%= content_for(:title, "#{@service.title} #{@town.name}, #{@town.state.upcase}") %>
<% if  @service.meta_description%>
  <%= content_for(:meta_description, sanitize(muxer(@service.meta_description, @town)))%>
<% else%>
  <%= content_for(:meta_description, "#{@service.title} in #{@town.name}")%>
<% end %>
<%= content_for(:meta_keywords, "#{@service.title}, #{@town.name}, #{@town.state.upcase}") %>
<%= content_for(:robots, "index, follow") %>
<%= content_for(:og_title, "#{@service.title} #{@town.name}, #{@town.state.upcase}")%>
<%= content_for(:og_description, "#{sanitize(muxer(@service.meta_description, @town))}")%>
<%= content_for(:og_image, "#{polymorphic_url @service.image}")%>
<%= content_for(:locality_town, "#{@town.name}")%>
<%= content_for(:locality_state, "#{@town.state}")%>
<!--Masthead Section-->
<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=header_selector(@service)%>);">
  </header>
<%end%>

<!--Main Content Section-->
<div class="container my-3 scroll-stop">
  <h1><%="#{@town.name.titleize} #{@town.state.upcase} #{@service.title.titleize}"%></h1>
  <%=sanitize(muxer(@service.content, @town))%>
</div>

<!--Lead Form-->
<%= render "layouts/lead_picker", lead: @lead, client: @client, service: @service%>

<!-- Bottom image Section-->
<div class="container my-3 text-center">
  <%= image_tag @service.image, alt: "#{@service.title} in #{@town.name}, #{@town.state.upcase}", class: "img-fluid"%>
  <a href="#lead-picker" class="btn btn-primary btn-lg my-3 js-scroll-trigger">Get Started For Free</a>
</div>


<!-- Other services section-->
<div class="container my-3 scroll-stop" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <h2 class="py-2">Other <%=@service.business_type.name%> Services in <span itemprop="addressLocality"><%= @town.name.titleize%></span>, <span itemprop="addressRegion"><%=@town.state.upcase%></span></h2>
  <ul>
    <%@service.business_type.services.each do |service|%>
      <li><%=link_to service.title, public_service_path(service)%></li>
    <%end%>
  </ul>
</div>
