<%= content_for(:canonical, request.url)%>
<%= content_for(:title, "#{@market.name}, #{@town.name}, #{@town.county}") %>
<%= content_for(:meta_description, "#{@town.name} in #{@market.name}") %>
<%= content_for(:robots, "INDEX, FOLLOW") %>

<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  </header>
<%end%>

<div class="container" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

  <h1><span itemprop="addressLocality"><%=@town.name%></span>,<span itemprop="addressRegion"> <%=@town.state.upcase%></span></h1>

  <h2>Below is a list of services available in <strong><%="#{@town.name}, #{@town.state.upcase}"%></strong></h2>
  <h3>Services available</h3>

  <ul>
    <%@services.each do |service|%>
    <li><%=link_to "#{service.title} #{@town.name}, #{@town.state.upcase}", public_bulk_service_path(service, @town) %></li>
    <%end%>
  </ul>
</div>