<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  
    <div class="container d-flex h-100">
      <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">

        <div class="card-body">
          <h5 class="card-title">Create New Client</h5>

          <%= form_with(model: @client, local: true, url: client_edit_index_path) do |form| %>
            <% if @client.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

                <ul>
                  <% client.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field form-group">
              <%=form.label :fname%>
              <%= form.text_field :fname, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= form.label :lname %>
              <%= form.text_field :lname, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= form.label :email %>
              <%= form.text_field :email, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= form.label :phone %>
              <%= form.text_field :phone, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= form.label :company_name %>
              <%= form.text_field :company_name, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= form.label :active %>
              <%= form.check_box :active, class: "form-control" %>
            </div>

            <div class="field">
              <%= form.label :market_id %>
              <%= form.collection_select(:market_id, Market.alll, :id, :name, {prompt: true}, {class: "form-control"})%>
            </div>

            <div class="field">
              <%= form.label :business_type_id %>
              <%= form.collection_select(:business_type_id, BusinessType.alll, :id, :name, {prompt: true}, {class: "form-control"}) %>  
            </div>

            <div class="actions">
              <%= form.submit class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>


          <%= link_to 'Back', client_edit_index_path %>
        </div>
      </div>
    </div>
  </header>
<%end%>