<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
    <div class="container d-flex h-100">

      <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">
        <div class="card-body">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Fname:</strong>
            <%= @client.fname %>
          </p>

          <p>
            <strong>Lname:</strong>
            <%= @client.lname %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @client.email %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= number_to_phone(@client.phone) %>
          </p>

          <p>
            <strong>Company name:</strong>
            <%= @client.company_name %>
          </p>

          <p>
            <strong>Active:</strong>
            <%= @client.active %>
          </p>

          <p>
            <strong>Market:</strong>
            <%= @client.market.name %>
          </p>

          <p>
            <strong>Business type:</strong>
            <%= @client.business_type.name %>
          </p>

          <%= link_to 'Edit', edit_client_edit_path(@client), class: "btn btn-primary"%>
          <%= link_to 'Back', client_edit_index_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </header>
<%end%>
<div class="container">
  <h3 class="text-center my-4">LEADS</h3>
  <% @client.leads.order(created_at: :desc).each do |lead| %>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Customer Name:  <%=lead.f_name %>  <%=lead.l_name %><h5>
        <h6 class="card-subtitle mb-2">Phone: <%= link_to lead.phone, "tel:+1#{number_to_phone(lead.phone)}"%><h5>
        <h6 class="card-subtitle mb-2">Email: <%= link_to lead.email, "mailto: #{lead.email} "%><h6>
        <h6 class="card-subtitle mb-2">Address: <%= link_to "#{lead.street1} #{lead.street2 if lead.street2} #{lead.city}, #{lead.state}", "http://maps.google.com/maps?q=#{lead.street1}+#{lead.city}+#{lead.state}" %></h6>

        <p class="card-text" >Message: <%=lead.content%> </p>
        <h6 class="card-subtitle mb-2 text-muted">Date: <%=lead.created_at.to_formatted_s(:long_ordinal)%></h6>
      </div>
    </div>
  <% end %>
</div>
