<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
    <div class="container d-flex h-100">

      <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">
        <div class="card-body">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Fname:</strong>
            <%= @client.fname %>
          </p>

          <p>
            <strong>Lname:</strong>
            <%= @client.lname %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @client.email %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= @client.phone %>
          </p>

          <p>
            <strong>Company name:</strong>
            <%= @client.company_name %>
          </p>

          <p>
            <strong>Active:</strong>
            <%= @client.active %>
          </p>

          <p>
            <strong>Market:</strong>
            <%= @client.market.name %>
          </p>

          <p>
            <strong>Business type:</strong>
            <%= @client.business_type.name %>
          </p>

          <%= link_to 'Edit', edit_client_path(@client), class: "btn btn-primary"%>
          <%= link_to 'Back', clients_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </header>
<%end%>