<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
    <div class="container d-flex h-100">
      <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">
        <div class="card-body">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Name:</strong>
            <%= @business_type.name %>
          </p>
          <p>
            <strong>faq1:</strong>
            <%= @business_type.faq1 %>
          </p>
          <p>
            <strong>faa1:</strong>
            <%= @business_type.faa1 %>
          </p>
          <p>
            <strong>faq2:</strong>
            <%= @business_type.faq2 %>
          </p>
          <p>
            <strong>faa2:</strong>
            <%= @business_type.faa2 %>
          </p>
          <p>
            <strong>faq3:</strong>
            <%= @business_type.faq3 %>
          </p>
          <p>
            <strong>faa3:</strong>
            <%= @business_type.faa3 %>
          </p>
          <p>
            <strong>faq4:</strong>
            <%= @business_type.faq4 %>
          </p>
          <p>
            <strong>faa4:</strong>
            <%= @business_type.faa4 %>
          </p>

          <%= link_to 'Edit', edit_business_type_path(@business_type), class: "btn btn-primary"%> 
          <%= link_to 'Back', business_types_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </header>
<%end%>