<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h5>Author: <%=current_user.full_name.titleize%></h5>


<%= form.hidden_field :admin_id, value: current_user.id %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, placeholder: "Title of blog post", class: "form-control" %>
  </div>

    <div class="field form-group">
    <%= form.label :meta%>
    <%= form.text_area :meta, placeholder: "Meta description", class: "form-control" %>
  </div>

  <div class= "image-preview" id="featured-preview" style='background-image: url(<%="#{mobile_small_image(post.featured_image)}" if post.featured_image.attachment%>)'>
    <%= form.label :featured_image, "Upload new featured image"%> 
    <%= form.file_field :featured_image, class: "d-none"%>
  </div>

  <div class= "image-preview" id="image-preview" style='background-image: url(<%="#{mobile_small_image(post.image)}" if post.image.attachment%>)'>
    <%= form.label :image, "Upload secondary image"%>
    <%= form.file_field :image, class: "d-none" %>
  </div>


  <div class="form-group">
    <%= form.label :content_images%>
    <%= form.file_field :content_images, multiple: true, class: "form-control py-5" %>
  </div>
  <ol>
    <h5>Images attached</h5>
    <%post.content_images.attachments.each do |image|%>
      <li><%=image.filename%></li>
    <%end%>
  </ol>


  <div class="field">
    <%= form.label :content, "Content suggested minimum 350 words"%>
    <%= form.text_area :content, class: "tiny" %>
  </div>


<div class="actions">
  <%= form.submit class: "btn btn-primary mb-3" %>
</div>
<% end %>

<%= javascript_pack_tag 'postsView' %>