<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  </header>
<%end%>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Posts</h1>

  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Slug</th>
        <th>Title</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.admin.full_name.titlecase %></td>
          <td><%= post.slug %></td>
          <td><%= post.title %></td>
          <td><%= link_to 'View', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'See Live', post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path %>
</div>