<%= content_for :my_mast do %>
<header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
</header>
<%end%>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Markets</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @markets.each do |market| %>
        <tr>
          <td><%= market.name %></td>
          <td><%= market.state %></td>
          <td><%= link_to 'Show', market, class: "btn btn-primary btn-sm"  %></td>
          <td><%= link_to 'Edit', edit_market_path(market), class: "btn btn-primary btn-sm"  %></td>
          <td><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Market', new_market_path, class: "btn btn-primary btn-sm mb-4"  %>
</div>