<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
    <div class="container d-flex h-100">
      <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">
        <div class="card-body">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Name:</strong>
            <%= @market.name %>
          </p>

          <%= link_to 'Edit', edit_market_path(@market), class: "btn btn-primary" %> 
          <%= link_to 'Back', markets_path, class: "btn btn-primary" %>
          <%= link_to 'Towns', "#{market_path(@market)}/#towns", class: "btn btn-primary js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </header>
<%end%>

<div id="towns">
    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>County</th>
        <th>State</th>
        <th>Market</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @towns.each do |town| %>
        <tr>
          <td><%= town.name %></td>
          <td><%= town.county %></td>
          <td><%= town.state %></td>
          <td><%= town.market_id %></td>
          <td><%= link_to 'Show', town, class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_town_path(town), class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Destroy', town, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Town', new_town_path, class: "btn btn-primary btn-sm mb-4" %>
</div>