<%= form_with(model: town, local: true) do |form| %>
  <% if town.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(town.errors.count, "error") %> prohibited this town from being saved:</h2>

      <ul>
        <% town.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :county %>
    <%= form.text_field :county, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :state %>
    <%= form.select :state, options_for_select(Town.States), {},class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :market_id %>
    <%= form.collection_select(:market_id, Market.all, :id, :name, {prompt: true},  {class: "form-control"}) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
