<%if current_admin %>
<div class="admin fixed-bottom">
  <div class="container py-1">
    <div class="text-center">Welcome back <%=current_admin.fname.capitalize%> |  
    <%= link_to "Account Settings", edit_admin_path(current_user) %> | <%=link_to "Sign out", destroy_admin_session_path, method: "DELETE"%></div>
    <div class="row">
      <div class="container col-sm-6 col-lg-2">
        <%=link_to "Services", services_path, class: "small btn btn-primary btn-block btn-sm mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-2">
        <%=link_to "Markets", markets_path, class: "small btn btn-primary btn-block btn-sm mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-2">
        <%=link_to "Towns", towns_path, class: "small btn btn-primary btn-block btn-sm mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-2">
          <%=link_to "Clients", clients_path, class: "small btn btn-primary btn-block btn-sm mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-2">
          <%=link_to "Buss Cat", business_types_path, class: "small btn btn-primary btn-block btn-sm mx-1 my-1"%>
      </div>
    </div>
  </div>
</div>
<%else%>
<div class="bg-black">
  <%=link_to "Sign in", new_admin_session_path, class: "small"%>
</div>
<%end%>
