<%if current_user %>
<div class="admin">
  <div class="container ">
    <h1 class="text-center py-3">Admin Panel</h1>  
    <div class="text-center"> Welcome back <%=current_user.fname.capitalize%> |  
    <%= link_to "Account Settings", edit_admin_path(current_user) %></div>
    <br>
    <div class="row">
      <div class="container col-sm-6 col-lg-3">
        <%=link_to "Services", services_path, class: "small btn btn-primary btn-block mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-3">
        <%=link_to "Markets", markets_path, class: "small btn btn-primary btn-block mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-3">
        <%=link_to "Towns", towns_path, class: "small btn btn-primary btn-block mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-3">
          <%=link_to "Clients", clients_path, class: "small btn btn-primary btn-block mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-6">
          <%=link_to "Business Types", business_types_path, class: "small btn btn-primary btn-block mx-1 my-1"%>
      </div>
      <div class="container col-sm-6 col-lg-6">
        <%=link_to "Sign out", session_path, method: "DELETE", class: "small btn btn-primary btn-block mx-1 my-1"%>
      </div>
    </div>
  </div>
</div>
<%else%>
  <%=link_to "Sign in", new_session_path%>
<%end%>
