<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto text-center">

      <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
      <h2 class="text-white mb-5">Let's get started for free.</h2>
      <div class="rounded bg-light">
        <h5 class="text-center bg-warning mb-2 p-2 rounded" id="result">Message</h5>
        <div class="progress-bar bg-primary rounded" id="progressBar" style="width: 20%" rold="progressbar">
          <b class="lead" id="progressText">Step - 1 </b>
        </div>

        <!-- <form action="" method="post" id="form-data" class="pt-5 pb-2 px-2 bg-light"> -->
        <%= form_with model: lead, class: "pt-5 pb-2 px-2 bg-light" do |f| %>
        <div id="first" class="text-left">
          <h4 class="text-center p-1">What kind of service are you looking for? </h4>
          <div class="form-check">
            <%= f.radio_button "business_id", "1", {checked: true, class: "form-check-input"}%>
            <label class="form-check-label" for="lead_business_id_1">
              Junk or waste removal
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button "business_id", "2", {class: "form-check-input"}%>
            <label class="form-check-label" for="lead_business_id_2">
              Septic or grease trap service
            </label>
          </div>
          <div class="form-check">
            <%= f.radio_button "business_id", "2", {class: "form-check-input", id: "lead_business_id_3"}%>
            <label class="form-check-label" for="lead_business_id_3">
              Sewer line or excavation
            </label>
          </div>
          <div class="form-group text-right">
            <a href="#" class="btn btn-primary mx-auto" id="next-1">Next</a>
          </div>
        </div>

        <div id="second" class="text-left">
          <h4 class="text-center p-1">Is this for your home or business? </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lead[job_location]" id="placeRadio1" value="home"
              checked>
            <label class="form-check-label" for="placeRadio1">
              Home
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lead[job_location]" id="placeRadio2" value="business">
            <label class="form-check-label" for="placeRadio2">
              Business
            </label>
          </div>
          <div class="form-group text-right">
            <a href="#" class="btn btn-danger mx-auto" id="prev-2">Prev</a>
            <a href="#" class="btn btn-primary mx-auto" id="next-2">Next</a>
          </div>
        </div>

        <div id="third" class="text-left">
          <h4 class="text-center p-1">What's the timeline to get this done? </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lead[timeline]" id="timeRadio1" value="urgent" checked>
            <label class="form-check-label" for="timeRadio1">
              Urgent
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lead[timeline]" id="timeRadio2" value="1-2 days">
            <label class="form-check-label" for="timeRadio2">
              1-2 days
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lead[timeline]" id="timeRadio3" value="1-3 weeks">
            <label class="form-check-label" for="timeRadio3">
              1-3 weeks
            </label>
          </div>
          <div class="form-group text-right">
            <a href="#" class="btn btn-danger mx-auto" id="prev-3">Prev</a>
            <a href="#" class="btn btn-primary mx-auto" id="next-3">Next</a>
          </div>
        </div>

        <div id="fourth" class="text-left">
          <h4 class="text-center p-1">Contact info </h4>
          <div class="form-group">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1 " name="lead[f_name]"
              id="inputName" placeholder="Enter your name...">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1 " name="lead[email]"
              id="inputEmail" placeholder="Enter your email address...">
            <input type="tel" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1 " name="lead[phone]"
              id="inputPhone" placeholder="Enter your phone number...">
          </div>
          <div class="form-group text-right">
            <a href="#" class="btn btn-danger mx-auto" id="prev-4">Prev</a>
            <a href="#" class="btn btn-primary mx-auto" id="next-4">Next</a>
          </div>
        </div>

        <div id="fifth" class="text-left">
          <h4 class="text-center p-1">Job Location </h4>
          <div class="form-group">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1 " name="lead[street_1]"
              id="inputStreet" placeholder="Enter street address of job...">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1 " name="lead[city]"
              id="inputCity" placeholder="Enter town or city...">
            <input type="number" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1 " name="lead[zip]"
              id="inputZip" placeholder="Enter zip code...">
          </div>
          <div class="form-group text-right">
            <a href="#" class="btn btn-danger mx-auto" id="prev-5">Prev</a>
            <%= f.submit "Submit", class: "btn btn-primary mx-auto"%>
            <!--<a href="#" class="btn btn-primary mx-auto" id="next-5">Next</a>-->
          </div>
        </div>
        <%end%>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>