<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160236437-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160236437-1');
    </script>

    <%if content_for?(:title)%>
      <title>ᐈ <%=  yield(:title)  %></title>
      <%else%>
      <title> Home On Call | Quality Local Contractors</title>
    <%end%>

    <%= "<link rel='canonical' href='#{yield(:canonical)}'/>".html_safe if content_for?(:canonical)%>
    <meta name="description" content="<%=yield(:meta_description)%>"/>
    <%= '<meta name="robots" content="noindex nofollow">' unless controller_name == "pages"%>
    <%= '<meta name="robots" content="index follow">' if controller_name == "pages"%>
    <meta property="og:title" content="<%=yield(:og_title)%>"/>
    <meta property="og:description" content="<%=yield(:og_description)%>"/>
    <meta property='og:image' content="<%=yield(:og_image)%>"/>
    <meta property="og:url" content="<%=request.url%>"/>
    <meta property="og:site_name" content="Home On Call" />
    <meta property="og:type" content="business.business"/>
    <meta property="business:contact_data:locality" content="<%=yield(:locality_town)%>"/>
    <meta property="business:contact_data:region" content="<%=yield(:locality_state)%>"/>
    <%# <meta property="business:contact_data:postal_code" content="07604"/> %>
    <meta property="business:contact_data:country_name" content="USA"/>
    <meta property="business:contact_data:website" content="https://www.homeoncall.com/"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%=yield(:title)%>"/>
    <meta name="twitter:description" content="<%=yield(:meta_description)%>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--links go here-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tinyMce', 'data-turbolinks-track': 'reload' if controller_name == "services"%>
    <%= stylesheet_pack_tag 'tinyMce', media: 'all', 'data-turbolinks-track': 'reload' if controller_name == "services"%>

<%= favicon_link_tag 'favicon/favicon.ico' %>
<%= favicon_link_tag "favicon/apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>
<%= favicon_link_tag "favicon/android-chrome-192x192.png", rel: 'android-chrome-icon', type: 'image/png', sizes: "192x192" %>
<%= favicon_link_tag "favicon/android-chrome-512x512.png", rel: 'android-chrome-icon', type: 'image/png', sizes: "512x512" %>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "HomeOnCall",
  "alternateName" : "Home On Call",
  "url" : "https://www.homeoncall.com/",
  "contactPoint": [
    { "@type": "ContactPoint",
      "telephone": "+1-201-675-6069",
      "contactType": "Customer Service"},
      {"@type": "ContactPoint",
      "email": "info@homeoncall.com",
      "contactType": "Customer Service"}],
  "sameAs" : [ "https://www.facebook.com/HomeOnCall"]
}
</script>
  </head>

  <body id="page-top" class="<%= controller_name %> <%= action_name %>">
    <%= render "layouts/nav"%>
      <%= render "layouts/flash"%>
      <%= render "layouts/header"%>
      <%= yield %>
      <%= render "layouts/footer"%>
      <%= render "layouts/admin"%>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" lazyload> 
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" lazyload>
  </body>
</html>
